
# Determine the origin repo name, without organization, and set it as the PROJECT environment variable
# This variable is used during deployment for SSM variable namespacing; it could be hardcoded, but this is best for a template repo.
# export PROJECT=$(basename `git rev-parse --show-toplevel`)

# Hardcoding a shorter project name for convenience and length limits
export PROJECT=base

# Define the regions for deployment
export REGION_A=us-east-1

# Put top level node_modules on the path.  This includes serverless, typescript, etc.
PATH_add ./node_modules/.bin

# Put this dir on path, to include the run script
PATH_add .
